spring:
  application:
    name: taskmanager

  datasource:
    url: jdbc:mysql://mysql:3306/taskmanager?useSSL=false&allowPublicKeyRetrieval=true
    username: taskuser
    password: ${DATASOURCE_PASSWORD}
    hikari:
      initialization-fail-timeout: 0

  redis:
    host: redis
    port: 6379
    timeout: 2000

  cache:
    type: redis

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: true

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET}
