spring:
  datasource:
    url: jdbc:mysql://mysql:3306/taskmanager?useSSL=false&allowPublicKeyRetrieval=true
    username: taskuser
    password: taskpass
    hikari:
      initialization-fail-timeout: 0
    data:
      redis:
        host: redis
        port: 6379
    cache:
      type: redis

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

jwt:
  secret: ${JWT_SECRET}
